@media (max-width: 768px) {
    #homepageMainHeading{
        font-size: 30px !important;
        font-weight: 500 !important;
    } 
    #homepageAnimation{

        margin-top: -20vw !important;
        justify-content: center;
        align-items: center;
        align-self: center;
        transform: scale(0.6);
        margin-left: 0% !important;

    } 
    #homepageGetStarted{
        transform: scale(0.7);
        align-items: center;
        justify-content: center;
        margin-left: 15vw;
        margin-top: 3vw;
    }
    #homepageParaText{
        font-size: 18px !important;
    }
    #homepageFlex{
        display: flex;
        flex-direction: column;
    } 
    #homepageUsecaseHeading{
        font-size: 20px !important;
        order: 1;
        /* width: 120%; */
    } 
    #homepageUsecasePara{
        font-size: 15px !important;
        order: 2;
        line-height: 25px;
        align-self: center;
        /* width: 120%; */
    }
    #homepageUsecaseBox{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #homepageUsecaseContent{
        width: 130%;
        margin-left: 10vw !important;
    }
    #homepageUsecaseContent2{
        width: 130%;
        margin-left: -10vw !important;
    }
    #homepageUsecaseImage{
        order: 3;
    }
    #homepageUsecaseImage img{
        margin: 0px !important;
        margin-left: 0px !important;
        margin-top: -10vh !important;
        margin-bottom: -15vh !important;
    }
    #homepageLogoSlider{
        margin-top: -10vh !important;
    }
    #homepageHero2Heading{
        font-size: 20px !important;
        font-weight: 500 !important;
    }
    #homepageHero2{
        height: 15vh !important;
    }
    #homepageHero2Image img{
        height: 45vh !important;
    }
    #homepageUsecase{
        width: 90vw;
        margin-left: -5vw;
    }
    #homepageGreenSection{
    }
    #homepageGreenSectionHeading{
        font-size: 25px;
        width: 100% !important;
        line-height: 40px !important;
        text-align: center !important;
        margin-left: -1vw !important;
    }
    #homepageGreenSectionPara{
        font-size: 20px !important;
    }
    #homepageGreenSectionButton{
        margin-left: 10vw !important;
    }
}
